  body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    padding: 0px;
    margin-top: -10px;
    font-family: sans-serif;
    background-color: cornflowerblue;

  }

  #main-play-area { 
    background-color: black;
    background-image: url(./img/space.png);
    height: 600px;
    width: 600px;
    position: unset;
  }
  /* Instruções de jogo*/

  .game-instructions {
    position: relative;
    color: white;
    left: 7rem;
    top: 0px;
  }

.start-button {
  position: relative;
  color: white;
  top: 9rem;
  left: 15rem;
  cursor: pointer;
  }

  .player-shooter {
    position: relative;
    height: 60px;
    width: 70px;
    left: 20px;
    top: 250px;
  }

  .laser {
    position: relative;
    width: 40px;
    height: 30px;
  }

  .alien {
     height: 60px;
     width: 70px;
     position: relative;
  }

  .alien-transition {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .dead-alien {
    height: 60px;
    width: 70px;
    position: relative;
    opacity: 0;
  }

.informations {
    color:black;
    position: fixed;
    top: 2px;
    margin: 0;

}

.reference {
  position:absolute;
  margin: -18.6%;
  font-size: 16px;
  font: bold;
  border-style: ridge;
  width: 600px;
  height: 320px;
  border-color:black;
  text-align: justify;
  padding: 8px;
}

#ref {
 text-align: center;
 font-size: 22px;
 font-style: normal;
}

.links {
  text-align: center;
  display: block;
  font-size: 16px;
  justify-content:space-around;
  flex-direction: row;
  display: flex;
 
}

a {
  text-decoration: none;
}